

body {
	background-image:url('../images/bgs/hixs_pattern_evolution.png');
	}
	
.my_title {
	margin-top:30px;
	color:#003366;
	font-family: 'Oswald', sans-serif;
	font-size:80px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15),  
                0 1px 0 rgba(255,255,255,0.8);
	}
	
.teaser{
	margin-top:25px;
	color:#003366;
	font-family:'Oswald', san-serif;
	font-size:25px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15),  
                0 1px 0 rgba(255,255,255,0.8);
	}
	
.subheading {
	color:#003366;
	font-family:'Oswald', sans-serif;
	font-size:25px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.15),  
                0 1px 0 rgba(255,255,255,0.8);
	}
	
.sub-descriptions {
	color:#003366;
	font-family:'Oswald', sans-serif;
	font-size:14px;
    /*background:#eee;  
    color:#223;  */
    text-shadow:0 -1px 0 rgba(0,0,0,0.15),  
                0 1px 0 rgba(255,255,255,0.8);
	}
	
.headshot {
	float:left;
	margin-right:5px;
	}
	
.below_fold {
	color:#003366;
	font-family:'Oswald', sans-serif;
	font-size:30px;
	}
	
.sidebar_text {
	color:#EEEEEE;
	font-family:'Oswald', sans-serif;
	font-size:16px;
	}
	
.sidebar_container {
	padding:10px;
	margin-left: 5px;
	background-color:#002244;
	border-radius:15px;
	}
	
.container {
	border-radius:15px;
	background-color:#F5F5F5;
	/*background-image:url('../images/bgs/small_tiles.png');*/
	margin:50px 10%;
	}
	
.tiny {
	color:#003366;
	font-family:'Oswald', sans-serif;
	font-size:16px;
	}
	
	
@media only screen and (max-width: 480px) {
	.container {
		margin:0px;
		border-radius:0px;
		}
		
	.sidebar_container {
		margin-bottom: 15px;
		}
}